@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
:root{
    --cor1: black;
    --cor2: white;
    --cor3: gray;
    --cor4: grey;
    --cor5: rgba(0, 0, 0, 0.514); /*Efeito transparente*/
}
.Tema{
    color: var(--cor2);
    background-color: black;
    height: 100px;
    width: 100%;
    justify-content: center;
    display: flex;
    margin: auto;
    padding-bottom: 15px;
} 
.Tema > h1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}
.shytext{
    text-decoration: none;
    font-weight: bold;
}
.s1{
    /*height: 100vh; se manter dessa forma teremos um problema pois o VH é para a view fixa da tela, se adicionarmos a mais pra baixo ele estoura a img*/
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}
.c1{
    color: var(--cor2);
    padding-top: 30px;
    width: 50%;
    background-color:var(--cor5);
    font-size: x-large;
    line-height: 30px;
    padding-left: 10px;
}
.c2{
    width: 100%;
    display: flex;
}
#c2d1{
    width: 50%;

}
#c2d2{
    width: 50%;
    font-size: x-large;
    text-align: left;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.514);
    color: var(--cor2);
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 30px;
}
.s2{
    background-color: var(--cor2);
}
.c3{
    margin-top: 50px;
    width: 50%;
    font-size: x-large;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}
.c4{
    width: 100%;
    display: flex;
}
#c4d1{
    width: 52%;
}
#c4d2{
    width: 50%;
    line-height: 30px;
    font-size: x-large;
    padding-right: 10px;
    padding-top: 10px;
}
.s3{
    background-image: url(../img/img2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.c5{
    color: var(--cor2);
    padding-top: 30px;
    width: 50%;
    background-color:var(--cor5);
    font-size: x-large;
    line-height: 30px;
    padding-left: 10px;
}
.c6{
    width: 100%;
    display: flex;
}
.c6d1{
    width: 52%;
}
.c6d2{
    width: 50%;
    font-size: x-large;
    text-align: left;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.514);
    color: var(--cor2);
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 30px;

    
}