@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
:root{
    --cor1: black;
    --cor2: white;
    --cor3: gray;
    --cor4: grey;
    --cor5: rgba(0, 0, 0, 0.514); /*Efeito transparente*/
}
.Tema{
    color: var(--cor2);
    background-color: black;
    height: 100px;
    width: 100%;
    justify-content: center;
    display: flex;
    margin: auto;
    padding-bottom: 15px;
} 
.Tema > h1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}
section{
    height: 100vh;
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}
.c1{
    width: 50%;
    font-size: x-large;
    text-align: left;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.514);
    color: var(--cor2);
    padding-left: 10px;
}
.c2{
    width: 100%;
    display: flex;
}
#c2d1{
    width: 50%;

}
#c2d2{
    width: 50%;
    font-size: x-large;
    text-align: left;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.514);
    color: var(--cor2);
    padding-left: 10px;
}
